@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
  }
}
